@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Share Tech", sans-serif;
    box-sizing: border-box;
  }
}

.stroke-text {
  -webkit-text-fill-color: white; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #b96431;
  -webkit-text-fill-color: transparent;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.hiddenScrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hiddenScrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* custom dropdown menu antd */
.ant-dropdown-menu {
  background: transparent !important;
  padding: 0 !important;
}

.ant-dropdown-menu-item {
  padding: 0 !important;
}

.ant-menu-submenu-title {
  padding: 10px 20px 10px 20px !important;
  margin: 0 !important;
  height: 52px !important;
  border-radius: 5px !important;
}

.ant-menu-item-only-child {
  padding: 10px 20px 10px 20px !important;
  margin: 0 !important;
  height: 52px !important;
  border-radius: 5px !important;
}
.ant-menu-item-only-child:hover,
.ant-menu-item-selected,
.ant-menu-submenu-title:hover {
  background: #5933a9 !important;
}

.ant-menu-submenu-title {
  color: #fff !important;
}

.custom-scroll-nav {
  overflow-y: auto;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
